@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź email";
}

<h1>Potwierdź email</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-dark" href="/">Powrót</a>
    </div>
</div>