@page
@model LockoutModel
@{
    ViewData["Title"] = "Twoje konto jest zablokowane!";
}

<header>
    <h1 class="text-danger">:(</h1>
    <p class="text-danger">Twoje konto jest zablokowane!</p>
</header>
