@page
@model RegisterModel
@using Rental_Data.Data.Rental
@{
    ViewData["Title"] = "Zarejestruj";

    var roles = (List<IdentityRole>)ViewData["roles"];
    var rentalAgency = (List<RentalAgency>)ViewData["rentalAgency"];
}

<h1>Zarejestruj nowe konto.</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Wypełnij formularz:</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.FistNane"></label>
                <input asp-for="Input.FistNane" class="form-control" />
                <span asp-validation-for="Input.FistNane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street"></label>
                <input asp-for="Input.Street" class="form-control" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Number"></label>
                <input asp-for="Input.Number" class="form-control" />
                <span asp-validation-for="Input.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ZIPCode"></label>
                <input asp-for="Input.ZIPCode" class="form-control" />
                <span asp-validation-for="Input.ZIPCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                @***********  FOTO  ************@
                <label>zdjecie</label>
                <input type="file" class="form-control-file" id="file" name="file" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <select asp-for="Input.Name" class="form-control" asp-items='new SelectList(roles,"Id","Name")'></select>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.RentalAgencyID"></label>
                <select asp-for="Input.RentalAgencyID" class="form-control" asp-items='new SelectList(rentalAgency,"RentalAgencyID","Name")'></select>
                <span asp-validation-for="Input.RentalAgencyID" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Utwórz nowe konto</button>
            <button class="btn btn-sm btn-dark ml-2" onclick="window.history.go(-1); return false;">Powrót</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}