@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie adresu e-mail";
}
<h1>Potwierdzenie e-mail!</h1>
<p>
    Sprawdz poczte aby potwierdzić rejestracje do systemu.
</p>
<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-dark" href="/">Powrót</a>
    </div>
</div>

