@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak uprawnień";
    ViewBag.PageTitle = "Brak uprawnień";
}

<header>
    <h1 class="text-danger">:(</h1>
    <p class="text-danger">Nie posiadasz odpowiednich uprawnień.</p>
</header>
