@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    @*<h1 class="text-danger">@ViewData["Title"]</h1>*@
    <h1 class="text-danger">Brak uprawnień</h1>
    <p class="text-danger">Nie posiadasz odpowiednich uprawnień.</p>
</header>
