@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź email";
    ViewBag.PageTitle = "Potwierdź email";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-dark" href="/">Powrót</a>
    </div>
</div>