@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    ViewBag.PageTitle = "Jesteś wylogowany";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Nastąpiło poprawne wylogowane</p>
</header>