@page
@model RegisterModel
@using Rental_Data.Data.Rental
@{
    ViewData["Title"] = "Zarejestruj";
    ViewBag.PageTitle = "Zarejestruj nowe konto";
}


<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-12">
            <h4>Wypełnij formularz:</h4>
            <hr />
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FistNane"></label>
                <input asp-for="Input.FistNane" class="form-control" />
                <span asp-validation-for="Input.FistNane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @***********  FOTO  ************@
                <label>Zdjecie</label>

                <div id="dbimage">
                    <img style="width: 100px; height:100px" class="img-profile rounded mb-4" id="#dbimage" src="~/img/default/DefaultUser.png" />
                </div>
                <div id="showimage"></div>
                @*<input type="file" class="form-control-file" id="file" name="file" />*@
                <div class="custom-file">
                    <input class="form-control custom-file-input" type="file" name="file" />
                    <label class="form-control custom-file-label">Wybierz..</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street"></label>
                <input asp-for="Input.Street" class="form-control" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Number"></label>
                <input asp-for="Input.Number" class="form-control" />
                <span asp-validation-for="Input.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ZIPCode"></label>
                <input asp-for="Input.ZIPCode" class="form-control" />
                <span asp-validation-for="Input.ZIPCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>
</form>
<script src="~/Layout/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

                $(document).ready(function () {
                    @*Java script dodaje siezke do pliku labeka *@
                    $(".custom-file-input").on("change", function () {

                        //dopisane
                        document.getElementById("dbimage").style.display = "none";

                        var fileName = $(this).val().split("\\").pop();
                        $(this).next(".custom-file-label").html(fileName);

                        @*Pokazuje zdjecie *@
                        var previewimages = $("#showimage");
                        previewimages.html("");
                        $($(this)[0].files).each(function () {
                            var file = $(this);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class=\"rounded mb-4 \" />");
                                img.attr("style", "height:100px;width: 100px;");
                                img.attr("src", e.target.result);
                                previewimages.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        });
                    }); //dodalem ;
                });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

