@{
    ViewData["Title"] = "Home Page";
    ViewBag.PageTitle = "Home";
}

<h1>Witamy na stronie wypożyczalni RentIT!</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit augue at urna vehicula, vel commodo mauris semper. Cras pulvinar orci est, in tempor massa consectetur a. Sed molestie rutrum congue. In semper massa purus, in placerat tortor volutpat non. Interdum et malesuada fames ac ante ipsum primis in faucibus. In purus dui, convallis sit amet vulputate sed, convallis sed nibh. Maecenas facilisis lacinia vulputate. Sed varius, quam quis porttitor vulputate, lacus dui rutrum augue, elementum dignissim orci augue non magna. Vestibulum vitae vulputate ante, sed pretium mi. Vivamus ultrices eros eget magna maximus, et sodales tellus pharetra. Donec pellentesque libero ut lacus lacinia maximus. Proin lobortis a ante eu finibus. Maecenas cursus scelerisque dui, eu eleifend dolor volutpat ac. Sed et augue ut tellus accumsan pulvinar ut quis orci. Vivamus dignissim metus sem, et sodales dui euismod et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit augue at urna vehicula, vel commodo mauris semper. Cras pulvinar orci est, in tempor massa consectetur a. Sed molestie rutrum congue. In semper massa purus, in placerat tortor volutpat non. Interdum et malesuada fames ac ante ipsum primis in faucibus. In purus dui, convallis sit amet vulputate sed, convallis sed nibh. Maecenas facilisis lacinia vulputate. Sed varius, quam quis porttitor vulputate, lacus dui rutrum augue, elementum dignissim orci augue non magna. Vestibulum vitae vulputate ante, sed pretium mi. Vivamus ultrices eros eget magna maximus, et sodales tellus pharetra. Donec pellentesque libero ut lacus lacinia maximus. Proin lobortis a ante eu finibus. Maecenas cursus scelerisque dui, eu eleifend dolor volutpat ac. Sed et augue ut tellus accumsan pulvinar ut quis orci. Vivamus dignissim metus sem, et sodales dui euismod et. </p>

<img class="img-thumbnail m-2" src="~/img/93945685-portrait-of-car-rental-agency-employee-giving-car-keys-to-beautiful-young-woman-.jpg" />

<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Duis euismod metus at facilisis consequat.</li>
    <li>Cras ullamcorper leo vitae erat consequat, eu lobortis turpis mattis.</li>
    <li>Aliquam efficitur nulla sit amet nibh porta, et fermentum quam facilisis.</li>
    <li>Cras pharetra libero a massa suscipit elementum.</li>
</ul>