@{
    ViewData["Title"] = "Polityka prywatności";
    ViewBag.PageTitle = "Polityka prywatności";
}
    <h1>Polityka prywatności</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>dla Klienta</h1>
