@using Microsoft.AspNetCore.Identity
@using Rental.Data.Data.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    //pobieram dane zalogowanego uzytkownika
    var signInUser = await UserManager.FindByNameAsync(User.Identity.Name);
    //separuje zdjecie profiluje
    var img = signInUser.Image;

    <div class="btn-group">
        <a style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @{
                //sprawdzam czy instnieje
                if (img != null)
                {
                    //wyswietlam
                    var base64 = Convert.ToBase64String(img);
                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img style="width: 40px; height:40px" class="img-profile rounded-circle" src="@imgSrc" />
                }
                else
                {
                    //wyswietlam default wartosc
                    <img style="width: 40px; height:40px" class="img-profile rounded-circle" src="~/Upload/Default/DefaultUser.png" />
                }
            }
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">@UserManager.GetRolesAsync(signInUser).Result.First().ToString()</h6>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Zmiana Hasła</a>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ustawienia Konta</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="dropdown-item">Logout</button>
            </form>
        </div>
    </div>
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark disabled" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Messages" class="nav-link text-dark">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter" id="counttop">...</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>






