<div class="row" id="newsTop">
    
    <div class="col-12 justify-content-center text-center" id="load">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


</div>

<script type="text/javascript">
            $(document).ready(function () {

                    var urlNews = '@Url.Content("~/")' + "News/GetTopNews";
                    $.getJSON(urlNews, function (newscollection) {
                        var htmlstring = "";

                        $.each(newscollection, function (i, newsItem) {
                            
                            htmlstring += "<div class=\"col-xl-3 col-md-6 mb-4\">" +
                                "<div class=\"card border-left-info h-100 py-2\">" +
                                "<div class=\"card-body\">" +
                                "<div class=\"row no-gutters align-items-center\">" +
                                "<div class=\"col mr-2\">" +
                                "<div class=\"text-xs font-weight-bold text-info text-uppercase mb-1\">" + newsItem.topic + "</div>" +
                                "<div class=\"row no-gutters align-items-center\">" +
                                "<div class=\"col-auto\">" +
                                "<div class=\"h6 mb-0 mr-3 font-weight-bold text-gray-800 \">" + newsItem.newsContent.substring(0, 50) + "...</div>" +
                                                                    "</div>" +
                                                                "</div>" +
                                                            "</div>" +
                                                            "<div class=\"col-auto\">" +
                                                                "<i class=\"fas fa-clipboard-list fa-2x text-gray-300\"></i>" +
                                                            "</div>" +
                                                        "</div>" +
                                                        "<a class=\"stretched-link\" href=\"/News/ReadItem/" + newsItem.id +"\"> </a>" +
                                                    "</div>" +
                                                "</div>" +
                                            "</div >";
                        });

                        $('#load').css({ display: "none" });
                        $('#newsTop').html(htmlstring);
                    });
            });
</script>