@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Pobierz swoje dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

    <h4>Pobierz swoje dane</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}