@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Polityka prywatności</h1>
<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <p class="p-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit arcu, auctor in porta nec, dictum sit amet velit. Etiam libero ante, tempor ac laoreet ultrices, pellentesque ut nisl. Integer consequat ultrices laoreet. Vivamus felis ipsum, sollicitudin consectetur facilisis a, porta ut est. Etiam varius scelerisque metus et tempor. Nulla augue tortor, sollicitudin eget turpis vel, dignissim fringilla arcu. Ut fringilla nulla et lectus sagittis accumsan. Vivamus imperdiet eros sed semper pellentesque. Sed sed arcu in nisi posuere pellentesque.
                <br /><br />
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ultricies vestibulum molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse pretium nunc ut tempus fermentum. Quisque viverra et urna eget auctor. Sed eu consequat felis, in lobortis nisi. Vivamus dignissim laoreet eleifend. Pellentesque non tincidunt ipsum. Integer sodales mi dolor, ut fermentum magna pellentesque ut. Duis eu mollis neque, nec hendrerit augue.
                <br /><br />
                Quisque purus ante, mattis vitae sem ac, pretium vestibulum ex. Vestibulum cursus convallis diam, sit amet aliquam dui vestibulum nec. Nam facilisis gravida semper. Quisque sed sagittis nibh, vehicula dictum velit. In at diam congue, vestibulum neque cursus, blandit justo. Integer mollis magna nec nibh sodales, eu vulputate enim facilisis. Mauris lacinia condimentum nulla, non posuere massa tempus et. Sed pharetra rutrum vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque lobortis metus odio, ac pellentesque felis accumsan vitae. Aliquam ipsum nibh, porta nec varius in, mollis vitae dui. Vivamus id nisl magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vel ipsum sollicitudin nibh pulvinar volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                <br /><br />
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed posuere condimentum ultrices. Ut nec ligula id ante dapibus semper at vel orci. Sed et mauris eget diam rhoncus malesuada. In mattis dui vel urna elementum rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum nec accumsan mi. Donec volutpat quam a ipsum tempor, non tristique nulla volutpat. In venenatis, elit a dignissim commodo, purus dolor egestas risus, ut molestie ligula ante vel mauris. Maecenas ullamcorper id purus a consequat.
                Donec et laoreet massa. Vestibulum eget purus massa. Sed laoreet dictum libero in euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque at risus laoreet, convallis justo quis, scelerisque augue. Donec tincidunt rhoncus felis, vitae cursus nisl consequat sed. Vestibulum sapien ligula, vehicula at faucibus id, molestie a odio. Nunc in pretium mauris. Donec in lectus quam. Mauris sed velit luctus, vulputate enim quis, dapibus leo. In velit ligula, vehicula ut nulla eget, cursus venenatis tellus. Donec molestie dapibus tincidunt. Aenean consectetur lectus libero, in tempus neque suscipit sed. Nullam volutpat egestas lobortis. Suspendisse sollicitudin eros ac nisl pharetra, vulputate commodo justo gravida.
            </p>
        </div>
    </div>
</div>